.showcase {
    padding: 140px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1920px;

    &__hero {
        width: 480px;
        display: flex;
        overflow: hidden;
        margin: 15px;
        box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
        &-img {
            width: 60%;
            img {
                width: 100%;
                height: 100%;
                border-radius: 20px 0px 0px 20px;
            }
        }
    }

    &__search-bar {
        display: flex;

        input, .search-btn, .search-btn::after, .search-btn::before {
            transition: all 0.25s ease-out;
        }

        input, .search-btn {
            width: 3em;
            height: 3em;
        }
    }

    &__hero-card {
        position: relative;
        color: rgb(255, 255, 255);
        width: 400px;
        padding: 10px 20px;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: space-between;
        background: #2E2E2E;
        border-radius: 0px 20px 20px 0px;
        word-wrap: break-word;
    }   
}
.hero-card__first-location-text, .hero-card__last-location-text {
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    color: #CCCCCC;
}
.hero-card__last-location-link, .hero-card__first-location-link {
    color: #fff;
    font-size: 16px;
}
.hero-card__link {
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
}
.hero-card__status {
    font-size: 15px;
    text-transform: capitalize;
}
.status__icon {
    margin-right: 3px;
    width: 10px;
}
.hero-card__segment1, .hero-card__segment2, .hero-card__segment3{
    display: flex;
    flex-direction: column;
}


